{% extends 'base.html' %}
{% block content %}
<div class="container_refers">
  <form method="post"  id="whiskeyForm">
    {{ form.csrf_token }}
    <!-- 오류표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items() %}
        <strong>{{ form[field].label }}</strong>
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 End -->
    <div class="row wine_form">
        <div class="col-4">
            <label for="">용량:</label><br>
            <input type="checkbox" name="volume" value="500"> 500ml 이상<br>
            <input type="checkbox" name="volume" value="1000"> 1000ml 이상<br>
        </div>
        <div class="col-4">
            <label for="">가격대:</label><br>
            <input type="checkbox" name="price" value="low">20만원 이하<br>
            <input type="checkbox" name="price" value="medium">50만원 이하<br>
            <input type="checkbox" name="price" value="high">가격 제한 없음<br>
        </div>
        
        <div class="col-4">
            <label for="">숙성 기간:</label><br>
            <input type="checkbox" name="year" value="10"> 10년 이상<br>
            <input type="checkbox" name="year" value="15"> 15년 이상<br>
            <input type="checkbox" name="year" value="20"> 20년 이상<br>
        </div>

    </div>
    <button type="submit">검색</button>
  </form>
</div>
<script>
  // 각 체크박스 그룹에 대한 이벤트 처리
  const prices = document.querySelectorAll('input[name="price"]');
  prices.forEach(price => {
      price.addEventListener('click', () => {
          prices.forEach(cb => {
              if (cb !== price) {
                  cb.checked = false;
              }
          });
      });
  });

  const ratings = document.querySelectorAll('input[name="rating"]');
  ratings.forEach(rating => {
      rating.addEventListener('click', () => {
          ratings.forEach(cb => {
              if (cb !== rating) {
                  cb.checked = false;
              }
          });
      });
  });
</script>
{% endblock %}
