{% extends 'base.html' %}

{% block content %}
<div class="swiper-container mySwiper" scrollbar-hide="true">
  <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/wine1.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/beer2.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/whiskey1.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/wine1.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/beer1.jpg') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/whiskey2.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/wine2.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/beer2.png') }}" alt=""></div>
      <div class="swiper-slide"><img src="{{ url_for('static', filename='image/whiskey1.png') }}" alt=""></div>
  </div>
</div>
<section class="card">
    <div class="inner">
        <!-- beer -->
        <a href="#">
            <div class=" beer floor">
                <div class="container">
                    <h1 class="bgtext">Beer 🍻</h1>
                    <div class="figures">
                        <figure>
                            <!-- <img src="https://e7.pngegg.com/pngimages/756/374/png-clipart-beer-head-graphic-design-illustration-beer-text-beer-bottle.png"
                            alt="keynote 마크업과 메시지가 함께 표시된 Split View" /> -->
                            <figcaption class="bgtext">거침없이 넘어가는 목넘김 <br>오늘 맥주 가능</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </a>

        <!-- wine -->
        <a href="#">
            <div class="wine floor">
                <div class="container">
                    <h1 class="bgtext">Wine 🍷</h1>
                    <div class="figures">
                        <figure>
                            <!-- <img src="./images/power_arcade.png" alt="iPad에 Wonderbox 앱이 열려 있는 모습" /> -->
                            <figcaption class="bgtext">신나게 즐기는 새로운 와인찾기</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </a>

        <!-- wisky -->
        <a href="#">
            <div class="wisky floor">
                <div class="container">
                    <h1 class="bgtext">Whiskey 🥃</h1>
                    <figure>
                        <!-- <img src="./images/power_create.jpg" alt="Procreate 에서 Apple Pencil로 그림이 그려져 있는 모습" /> -->
                        <figcaption class="bgtext">스카치하고, 그리고,버번하고..</figcaption>
                    </figure>
                </div>
            </div>
        </a>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      var mySwiper = new Swiper('.swiper-container', {
          slidesPerView: 3, // 한 번에 표시할 슬라이드 수를 설정 (여기서는 2개로 설정)
          spaceBetween: 20, // 슬라이드 사이의 간격 설정 (옵션)
          loop: true, // 무한 반복 설정
          autoplay: {
              delay: 3000, // 자동 재생 간격 (3초)
              disableOnInteraction: false, // 사용자 상호 작용 후에도 자동 재생 유지
          },
          pagination: {
              el: '.swiper-pagination',
              clickable: true,
          },
          navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
          },
      });
  });
</script>
{% endblock %}
